body {
    text-align: center;
    font-family: 'Gotham', sans-serif;
    font-family: 'Gotham Black', sans-serif;
    font-family: 'Gotham Light', sans-serif;
    font-family: 'Gotham Thin', sans-serif;
    font-family: 'Gotham XLight', sans-serif;
    font-family: 'Gotham Book', sans-serif;
    font-family: 'Gotham Ultra', sans-serif;

}
.padme {
    padding: 10px;
    border-color: aquamarine;
    background: rgb(239, 255, 238);
    font-family: 'Gotham', sans-serif;
    font-family: 'Gotham Black', sans-serif;
    font-family: 'Gotham Light', sans-serif;
    font-family: 'Gotham Thin', sans-serif;
    font-family: 'Gotham XLight', sans-serif;
    font-family: 'Gotham Book', sans-serif;
    font-family: 'Gotham Ultra', sans-serif;
}
.justpad {
    padding: 10px;
    font-family: 'Gotham', sans-serif;
    font-family: 'Gotham Black', sans-serif;
    font-family: 'Gotham Light', sans-serif;
    font-family: 'Gotham Thin', sans-serif;
    font-family: 'Gotham XLight', sans-serif;
    font-family: 'Gotham Book', sans-serif;
    font-family: 'Gotham Ultra', sans-serif;
}

/*
.changeMe {
    width: 140px;
    height: 140px;
    margin: 20px;
    background: blue;
    margin: 20px auto;
    border-radius: 50px;
    position: absolute;
    bottom: 200px;
    left: 420px;
}
.thermoVis {
    position: absolute;
    position: -50, -50;
}
*/