body {
    text-align: center;
}
.padme {
    padding: 10px;
    border-color: rgb(152, 255, 241);
    border-radius: 40px;
    outline: 0px;
    background: rgb(239, 255, 238);
}
.justpad {
    padding: 10px;
}
